@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=Libre+Baskerville&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: 30px;
}

body {
  background-image:url(backgroun.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: #fff;
}


.card {
  text-align: center;
}

.card h1 {
  font-size: 70px;
  padding: 30px;
}

.input-box {
  margin: 5px;
  padding: 10px;
}

.input-box input {
  border-radius: 10px;
  border: none;
}

.input-box input::placeholder {
  background-color: transparent;
  padding: 10px;
}

.btn {
  margin: 15px;
}

a {
  color: whitesmoke;
}

a:hover {
  color: darkgray;
}

input[type="checkbox"]{
  margin: 4px 0 0;
  width: 20px;
  height: 20px;
}


